# Markdown (sauf README.md conservé localement, non versionné)
*.md

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/
.eggs/

# Virtualenvs
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Divers
*.log
.DS_Store
Thumbs.db
